<div class="row">
  <div class="container">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="col-lg-12">
        <img src="assets/image/burger.png" alt="BigBurger picture" class="img-responsive">
      </div>
      <h1 id="Title"> Eat-Da-Burger</h1>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-4 col-lg-offset-1" id="undevouredBurgers">
        <h1> Ready to Eat</h1>
        {{#each burgers}}
        {{#unless this.devoured}}

        <div class="well well-lg"><b>{{this.burger_name}}</b>
        <form action="/{{this.id}}/0?_method=PUT" method="POST">
          <button type="submit">Devour</button>
        </form><form action="/{{this.id}}?_method=PUT" method="POST">
        </form></div>
        {{/unless}}
        {{/each}}
      </div>
      
      <div class="col-lg-4 col-lg-offset-1" id="devoured">
        <h1> Devoured Burgers</h1>
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="well well-lg"><b>{{this.burger_name}}</b>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <form action="/?_method=POST" method="POST">
        <h4>Burger Name: </h4>
        <input type="text" name="burger_name">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
